<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" aria-hidden="true" (click)="fechaModal()">&times;</button>
            <h4 class="modal-title" id="modalCadSetor">Adicionar setor</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <form class="form-horizontal style-form">
                    <!-- status usuário -->
                    <div class="col-sm-12">
                        <div class="form-group col-sm-6">
                            <label class="acerta_w control-label">Status</label>
                            <div class="custom-control custom-switch col-sm-9" style="padding:0; padding-left: 15px; padding-top: 5px;">
                                <label class="switch switch-3d switch-info mr-3">
                  <input [(ngModel)]="setor.ativo" type="checkbox" class="switch-input custom-control-input"
                    name="setor_ativo" id="status_setor" (change)="ativo = !ativo" checked>
                  <span class="switch-label"></span>
                  <span class="switch-handle"></span>
                </label> &ensp;
                                <label class="custom-control-label" for="status_setor" id="label_status" *ngIf="setor.ativo">
                  Ativo
                </label>
                                <label class="custom-control-label" for="status_setor" id="label_status" *ngIf="!setor.ativo">
                  Inativo
                </label>
                            </div>
                        </div>
                    </div>

                    <!-- nome e contato-->
                    <div class="col-sm-12">
                        <div class="form-group col-sm-6">
                            <label class="acerta_w control-label"><b style="color:#aa0028">*</b>Nome</label>
                            <div class="col-sm-9">
                                <input [(ngModel)]="setor.nome" name="setor_nome" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="acerta_w control-label">Telefone</label>
                            <div class="col-sm-9" style="display: flex;">
                                <input type="text" class="form-control" [(ngModel)]="setor.telefone_ddd" style="width: 75px;" name="setor_ddd_celular" id="setor_ddd_celular" [dropSpecialCharacters]="false" mask="00" /> &emsp;
                                <input type="text" class="form-control" [(ngModel)]="setor.telefone_numero" name="setor_celular" id="setor_celular" [dropSpecialCharacters]="false" mask="00000-0000" />
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 mt" style="margin-bottom: 15px;">
                        <div class="row content-panel">
                            <div class="panel-heading">
                                <ul class="nav nav-tabs nav-justified">
                                    <li class="active">
                                        <a data-toggle="tab" href="#turnos">Turnos</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#gerentes" class="gerentes-map">Gerentes</a>
                                    </li>
                                    <!-- <li>
                                        <a data-toggle="tab" href="#cargos" class="cargos-map">Cargos</a>
                                    </li> -->
                                </ul>
                            </div>
                            <!-- /panel-heading -->
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div id="turnos" class="tab-pane active">
                                        <div class="row" style="display: flex">
                                            <!-- atribuir turnos -->
                                            <div class="form-group col-sm-6" style="display:flex;margin:0 auto">
                                                <label class="acerta_w control-label"><b style="color:#aa0028">*</b>Turno</label> &ensp;
                                                <select class="form-control" [(ngModel)]="turno" id="turno" name="turno_id" required>
                                                  <option disabled selected>Selecione..</option>
                                                  <option *ngFor="let e of listaTurnos" [ngValue]="e">
                                                    {{e.nome}}
                                                  </option>
                                                </select> &ensp;
                                                <button class="btn btn-theme" type="button" (click)="addTurno(turno)">
                                                  <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div>
                                            <section id="no-more-tables" style="margin-top: 15px;">
                                                <table class="table table-bordered table-striped table-condensed cf">
                                                    <thead class="cf">
                                                        <tr>
                                                            <th>Turno</th>
                                                            <th style="width: 5%">Ação</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let tur of setor.turnos">
                                                            <td data-title="Turno">{{tur.turno_nome}}</td>
                                                            <td data-title="Ação">
                                                                <button class="btn btn-sm btn-danger" title="Remover" (click)="removeTurno(tur)">
                                                                <i class="fas fa-times"></i>
                                                              </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </section>
                                        </div>
                                        <!-- /turnos -->
                                    </div>
                                    <!-- /tab-pane -->
                                    <div id="gerentes" class="tab-pane">
                                        <div class="row" style="display:flex">
                                            <!-- atribuir gerentes -->
                                            <div class="form-group col-sm-6" style="display: flex;margin:0 auto">
                                                <label class="acerta_w control-label"><b style="color:#aa0028">*</b>Gerente</label> &ensp;
                                                <select class="form-control" [(ngModel)]="gerente" id="gerente_add" name="gerente_id_add" required>
                                                  <option disabled selected>Selecione..</option>
                                                  <option *ngFor="let g of listaGerentes" [ngValue]="g">
                                                    {{g.nome}}
                                                  </option>
                                                </select> &ensp;
                                                <button class="btn btn-theme" type="button" (click)="addGerente(gerente)">
                                                  <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div>
                                            <section id="no-more-tables" style="margin-top: 15px;">
                                                <table class="table table-bordered table-striped table-condensed cf">
                                                    <thead class="cf">
                                                        <tr>
                                                            <th>Gerente</th>
                                                            <th style="width: 5%">Ação</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let ger of setor.gerentes">
                                                            <td data-title="Gerente">{{ger.usuario_nome}}</td>
                                                            <td data-title="Ação">
                                                                <button class="btn btn-sm btn-danger" title="Remover" (click)="removeGerente(ger)">
                                                                  <i class="fas fa-times"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </section>
                                        </div>
                                        <!-- /row -->
                                    </div>
                                    <!-- /tab-pane -->
                                    <!--<div id="cargos" class="tab-pane">
                                        <div class="row" style="display: flex">
                                            <div class="form-group col-sm-6" style="display:flex;margin:0 auto">
                                                <label class="acerta_w control-label"><b style="color:#aa0028">*</b>Cargo</label> &ensp;
                                                <select class="form-control" [(ngModel)]="cargo" id="cargo" name="cargo_id" required>
                                                  <option disabled selected>Selecione..</option>
                                                  <option *ngFor="let e of listaCargos" [ngValue]="e">
                                                    {{e.nome}}
                                                  </option>
                                                </select> &ensp;
                                                <button class="btn btn-theme" type="button" (click)="addCargo(carg)">
                                                  <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div>
                                            <section id="no-more-tables" style="margin-top: 15px;">
                                                <table class="table table-bordered table-striped table-condensed cf">
                                                    <thead class="cf">
                                                        <tr>
                                                            <th>Cargo</th>
                                                            <th style="width: 5%">Ação</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let tur of setor.cargos">
                                                            <td data-title="Cargo">{{tur.turno_nome}}</td>
                                                            <td data-title="Ação">
                                                                <button class="btn btn-sm btn-danger" title="Remover" (click)="removeTurno(tur)">
                                                                <i class="fas fa-times"></i>
                                                              </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </section>
                                        </div>
                                    </div>-->
                                    <!-- /tab-pane -->
                                </div>
                                <!-- /tab-content -->
                            </div>
                            <!-- /panel-body -->
                        </div>
                        <!-- /col-lg-12 -->
                    </div>

                    <div class="row text-center">
                        <button class="btn btn-theme" (click)="submit()">
              Salvar
            </button>
                    </div>
                </form>
            </div>
            <section id="no-more-tables" style="margin-top: 15px;">
                <table class="table table-bordered table-striped table-condensed cf">
                    <thead class="cf">
                        <tr>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th style="width: 5%">Ativo?</th>
                            <th style="width: 10%">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let set of listaSetores">
                            <td data-title="Nome">{{set.nome}}</td>
                            <td data-title="Telefone">({{set.telefone_ddd}}){{set.telefone_numero}}</td>
                            <td data-title="Ativo?">{{set.ativo? "Sim":"Não"}}</td>
                            <td data-title="Ação">
                                <button class="btn btn-sm btn-warning" title="Editar" (click)="edit(set)">
                  <i class="fas fa-edit"></i>
                </button>
                                <button class="btn btn-sm btn-success" title="Ativar" *ngIf="!set.ativo" (click)="ativar(set)">
                  <i class="fas fa-power-off"></i>
                </button>
                                <button class="btn btn-sm btn-danger" title="Desativar" *ngIf="set.ativo" (click)="desativar(set)">
                  <i class="fas fa-power-off"></i>
                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <div class="legenda">
                <label class="control-label"><b>Legenda:</b></label> &nbsp;
                <!-- item -->
                <a class="btn btn-sm btn-warning">
                    <i class="fas fa-edit"></i>
                </a>
                &nbsp;
                <label class="control-label">Editar</label> &emsp;|&emsp;
                <!-- item -->
                <a class="btn btn-sm btn-danger">
                    <i class="fas fa-power-off"></i>
                </a>
                &nbsp;
                <label class="control-label">Desativar</label>
                <!-- separador -->
                &emsp;|&emsp;
                <!-- item -->
                <a class="btn btn-sm btn-success">
                    <i class="fas fa-power-off"></i>
                </a>
                &nbsp;
                <label class="control-label">Ativar</label>
            </div>
        </div>
        <div class="modal-footer">
            <!-- <button type="button" class="btn btn-default" (click)="fechaModal()">Fechar</button> -->
            <button type="button" class="btn btn-primary" (click)="fechaModal()">Finalizar</button>
        </div>
    </div>
</div>
