################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/WebCliente/ClientApp/node_modules
/.vs
/ApiCliente/bin/Debug/netcoreapp2.1/ModelosEmails
