<div class="modal-dialog" style="max-width: 10px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" aria-hidden="true" (click)="fechaModal()">&times;</button>
            <h4 class="modal-title" id="modalCadSetor">Acompanhamento de ponto</h4>
        </div>
        <div class="modal-body">
            <div class="row col-sm-12" style="text-align:center">
                <div class="form-group col-xs-12 col-md-3" style="display: block; text-align: center;">
                    <div class="foto-perfil">
                        <img *ngIf="escala_acompanhamento.link_perfil != null" src="{{escala_acompanhamento.link_perfil}}" alt="foto_perfil" />
                        <img *ngIf="escala_acompanhamento.link_perfil == null" src="../../../assets/img/default.jpg" />
                    </div>
                    <div class="form-row">
                        <label><b>{{escala_acompanhamento.nome}} {{escala_acompanhamento.sobrenome}}</b></label>
                    </div>
                    <div class="form-row">
                        <label>{{escala_acompanhamento.cargo_nome}}</label>
                    </div>
                    <div class="form-row" style="text-align:center">
                        <label style="text-align:center"><b>DIA:&ensp;</b>{{acompanhamento.data}}</label>
                    </div>
                    <div class="form-row" style="text-align:center">
                        <label style="text-align:center"><b>TURNO:&ensp;</b>{{escala_acompanhamento.turno_nome}}</label>
                    </div>
                </div>

                <div class="form-group col-xs-12 col-md-9" style="display: block; text-align: center;">
                    <div class="row col-sm-12" *ngIf="escala_acompanhamento.escalas != null && escala_acompanhamento.escalas.length!= null">
                        <table class="table-hover table-striped table-bordered table-sm table">
                            <tr>
                                <th colspan="2" style="text-align: center;">
                                    <h4 style="margin: 0">ESCALA</h4>
                                </th>
                            </tr>
                            <tr *ngIf="escala_acompanhamento.escalas == null || escala_acompanhamento.escalas.length==0">
                                <td><label style="margin:0"><b>Não há escalas para exibir</b></label></td>
                            </tr>
                            <tr *ngFor="let esc of escala_acompanhamento.escalas">
                                <td><label style="margin: 0;"><b>{{esc.tipo}}:&ensp;</b></label></td>
                                <td><label style="margin: 0;">{{esc.hora}}</label></td>
                            </tr>
                        </table>
                    </div>

                    <div class="row col-sm-12">
                        <table class="table-hover table-striped table-bordered table-sm table">
                            <tr>
                                <th colspan="3" style="text-align: center;">
                                    <h4 style="margin: 0">EXECUTADO</h4>
                                </th>
                            </tr>
                            <tr *ngIf="escala_acompanhamento.pontos != null && escala_acompanhamento.pontos.length != 0">
                                <th colspan="3" style="text-align: center;">
                                    <label style="margin: 0"><b>Total horas:&ensp;</b>{{ escala_acompanhamento.total_horas }}</label>
                                </th>
                            </tr>
                            <tr *ngIf="escala_acompanhamento.pontos == null || escala_acompanhamento.pontos.length == 0">
                                <td><label style="margin:0"><b>Não há escalas para exibir</b></label></td>
                            </tr>
                            <tr *ngFor="let ponto of escala_acompanhamento.pontos">
                                <td>
                                    <label style="margin:0; text-align: center;" *ngIf="ponto.ordem_ponto % 2 != 0"><b>ENTRADA:&ensp;</b></label>
                                    <label style="margin:0; text-align: center;" *ngIf="ponto.ordem_ponto % 2 == 0"><b>SAÍDA:&ensp;</b></label>
                                    <label style="margin:0; text-align: center;">{{ponto.hora}}</label>
                                </td>
                                <td>
                                    <label style="margin:0; text-align: center;" *ngIf="ponto.banco_hora_minutos < 0"><b>ATRASO:&ensp;</b>{{ponto.banco_hora_minutos * (-1)}}</label>
                                    <label style="margin:0; text-align: center;" *ngIf="ponto.banco_hora_minutos >= 0"><b>ATRASO:&ensp;</b>0</label>
                                </td>
                                <td>
                                    <label style="margin:0; text-align: center;" *ngIf="ponto.justificativa_cadastrada != null"><b>JUSTIFICATIVA:&ensp;</b>{{ponto.justificativa_cadastrada}}</label>
                                    <label style="margin:0; text-align: center;" *ngIf="ponto.justificativa_cadastrada == null"><b> SEM JUSTIFICATIVA </b></label>
                                </td>
                            </tr>
                        </table>
                        
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="fechaModal()">Fechar</button>
            <!-- <button type="button" class="btn btn-primary" (click)="fechaModal()">Finalizar</button> -->
        </div>
    </div>
</div>
